/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 80%;
}
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#select_modal{
    height: 40vh;
    width: 40%;
    top: 20vh;
    position: absolute;
    left: 30%;
    background-color: skyblue;
    opacity: 0.8;
    display: none;
}

#select_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.option{
    cursor: pointer;
}

#quit{
    position: absolute;
    top:0;
    right: 1rem;
    cursor: pointer;
}
